@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.containerForm{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #99EBDD;
    width: 100vw;
    height: 85vh;
}

.formRegister{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: #FFFDFF;
    padding: 2%;
    width: 70vw;
    height: 70vh;
    margin-top: 2%;
    
}

.rowfilds{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.rowBuscar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

 .fieldForm, .submitRegister{
    padding: 1.5%;
    margin-top: 3%;
    border: 1px solid #222222;
}
.fixedFirstForm{

}
.fieldForm{
    color:rgb(15, 114, 76);
    background:#23D7BC;
    width: 40%;
    border-color: #4CF5DE;
}


::placeholder{
    color: rgb(25, 110, 89);
}

.submitRegister{
    background: rgba(115, 194, 25, 0.9);
    width: 30%;
    color: #111111;
}

.submitRegister:hover{
    background: rgba(188, 255, 110, 0.911);
}

.titleForm, .nuevaMascota{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    color: #69D5C7;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    height: 50vmax;
  
}

.nuevaMascota{
    color:rgb(237, 228, 241);
    background: #20D7BB;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fieldPet::placeholder{
    color: rgb(31, 114, 102);
    padding: 1%;
}

.mascotas{
    text-align: left;
    width: 90%;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2%;
}

.containerPet{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #20D7BB;
    border-top: 1px solid #20D7BB;
    width: 90%;
    padding: 1%;    

}

.listPets{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  
}

.bicho{
  
  width: 10vw;
}

.textForm {
    border-style: dashed;
    padding: 1%;
}

.addPet {
    padding: 0.8%;
    border-radius: 8px;
    width: 15%;
    margin: 2% 0% 2% 0%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    
    border-width: 2px;
    border-color: #4CF5DE;
    background: #20D7BB;
    color: #FFFBFA;
    justify-self: flex-end;
}

.addPet:hover, .savePet:hover{
    border: 2px solid #20D7BB;
    color: #69D5C7;
    background: #FFFDFF;
}

.formPet{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}


.notes{
    margin-top: 2%;
    align-self: center;
    width: 90%;
    color: #222222;
    background:#23D7BC;
    border-color: #4CF5DE;
}

.fieldPet{
    background: #FFFDFF;
    border: 2px solid #23D7BC;
}


ul li {
    display: inline-flex;
    justify-content: space-between;
    width:10em;
    margin-left: 6em;
    float:left;
}

.savePet{
    
    border-color: #4CF5DE;
    background: #20D7BB;
    color: #FFFBFA;
    margin: 2% 0% 2% 0%;
    padding: 0.8%;
    border-radius: 8px;
    width: 15%;
}

.message{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin: 1%;
}

.registrar{
    margin-bottom: 0%;

}

.inputBuscar{
    color: rgb(15, 114, 76);
    background: #FFFBFA;
    width: 40%;
    padding: 1.5%;
    border: 1px solid #222222;
    border-color: #4CF5DE;
    margin-right: 2%;
}

.buscarClient{
    border: 2px solid rgb(15, 114, 76);
    color: rgb(30, 182, 159);
    background: #99EBDD;


    padding: 0.8%;
    border-radius: 8px;
    width: 15%;
    margin: 2% 0% 2% 0%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border-width: 2px;
    border-color: #4CF5DE;
}

.contenedor .box{
    background-color: #bbb;
    width: 250px;
    height: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
  }
.ribbon1{
   left:-200px;
}
  
.container2{
    flex: .5;
    flexDirection : 'row';
   
    borderBottomWidth: 1;
    max-width: 18rem;

    
  }
  .ribbon2 {
    width: 50%;
    position: relative;
    background:#CADDE1;
    height: 70px;
    margin: 10px auto;
    left: 0;
    top: 0;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
* { box-sizing: border-box; }

body {
  background: #aedaa6;
  font-family: "Raleway";
  
.card {
    
    width: 650px;
    height: 275px;
    position: absolute;
    background: white;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s;
   
    
  .photo {
      
      padding: 30px;
      width: 30%;
      text-align: center;
      float: left;
      
      img { 
        max-height: 300px; 
      }
      
  }
        
.description {
       padding: 20px;
       float: left;
       width: 70%;
       border-left: 2px solid #efefef;
       
       h1 {
         color: #515151;
         font-weight: 300;
         padding-top: 15px;
         margin: 0;
         font-size: 30px;
         font-weight: 300;
       }
     
       h2 {
        color: #515151;
        margin: 0;
        text-transform: uppercase;
        font-weight: 500;
       }
      
       h4 { 
         margin: 0;
         color: #727272;
         text-transform: uppercase;
         font-weight: 500;
         font-size: 12px
       }
      
       p { 
         font-size: 12px; 
         line-height: 20px;
         color: #727272;
         padding: 20px 0;
         margin: 0;
      }
      
       button {

         outline: 0;
         border: 0;
         background: none;
         border: 1px solid #d9d9d9;
         padding: 8px 0px;
         margin-bottom: 30px;
         color: #515151;
         text-transform: uppercase;
         width: 25px;
         font-family: inherit;
         margin-right: 5px;
         transition: all 0.3s ease;
         font-weight: 500;

       }
      
    }
    
  }
}
.li2{
  list-style: none;
}

.righty {
  float: right;
  text-align: right;
  width: 100%;
  border: 0.1px solid #9FCACC;
  padding: 10px;
}
.centry {
  float: right;
  text-align: right;
  width: 100%;
  border: 0.1px solid #9FCACC;
  padding: 10px;
}
.goForward{
    display: inline-block;
    padding: 15px 0px;
    margin: 50px;
    height: 200px;
    width: 85%;
    font-size: 60px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.goForward:hover {
  background-color: #3e8e41;
  color: white;
}
  
.goForward:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: white;
}
.back{
  margin-right: 0px;
  padding: 50px 0px;

}
.comeBack{

  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(151, 23, 23);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.comeBack:hover {
  background-color:  rgb(107, 4, 4);
  color: white;
}
  
.comeBack:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: white;
}

.grid-container0 {
  display: grid;
  max-width: 100%;
  width: 100%;
  float: right;
  text-align: center;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #9FCACC;
  padding: 10px;
  list-style: none;
}
.grid-container {
  display: grid;
  max-width: 100%;
  width: 100%;
  float: right;
  text-align: center;
  grid-template-columns: auto;
  grid-gap: 10px;
  background-color: #9FCACC;
  padding: 10px;
  list-style: none;
}
.grid-container2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
  list-style: none;
}
.grid-container3 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-gap: 20px;
  background-color: white;
  float: center;
  text-align: center;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  list-style: none;
}
.grid-container4 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-gap: 20px;
  background-color: white;
  float: center;
  text-align: center;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  list-style: none;
}



