@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.containerForm{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #99EBDD;
    width: 100vw;
    height: 85vh;
}

.formRegister{
    display: flex;

    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: #FFFDFF;
    padding: 2%;
    width: 70vw;
    height: 70vh;
    margin-top: 2%;
}

.rowfilds{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

 .fieldForm, .submitRegister{
    padding: 1.5%;
    margin-top: 3%;
    border: 1px solid #222222;
}

.fieldForm{
    color: rgb(218, 214, 214);
    background:#23D7BC;
    width: 40%;
    border-color: #4CF5DE;
}


::placeholder{
    color: #FFFDFF;
}

.submitRegister{
    background: rgba(115, 194, 25, 0.9);
    width: 30%;
    color: #111111;
}

.submitRegister:hover{
    background: rgba(188, 255, 110, 0.911);
}

.titleForm, .nuevaMascota{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    color: #69D5C7;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.nuevaMascota{
    color: #FFFDFF;
    background: #20D7BB;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fieldPet::placeholder{
    color: #20D7BB;
    padding: 1%;
}

.mascotas{
    text-align: left;
    width: 90%;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2%;
}

.containerPet{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #20D7BB;
    border-top: 1px solid #20D7BB;
    width: 90%;
    padding: 1%;    

}

.textForm {
    border-style: dashed;
    padding: 1%;
}

.addPet {
    padding: 0.8%;
    border-radius: 8px;
    width: 15%;
    margin: 2% 0% 2% 0%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    
    border-width: 2px;
    border-color: #4CF5DE;
    background: #20D7BB;
    color: #FFFBFA;
    justify-self: flex-end;
}

.addPet:hover, .savePet:hover{
    border: 2px solid #20D7BB;
    color: #69D5C7;
    background: #FFFDFF;
}

.formPet{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}


.notes{
    margin-top: 2%;
    align-self: center;
    width: 90%;
    color: #222222;
    background:#23D7BC;
    border-color: #4CF5DE;
}

.fieldPet{
    background: #FFFDFF;
    border: 2px solid #23D7BC;
}


ul li {
    display: inline-flex;
    justify-content: space-between;
    width:10em;
    margin-left: 6em;
    float:left;
}

.savePet{
    
    border-color: #4CF5DE;
    background: #20D7BB;
    color: #FFFBFA;
    margin: 2% 0% 2% 0%;
    padding: 0.8%;
    border-radius: 8px;
    width: 15%;
}

.message{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin: 1%;
}

.registrar{
    margin-bottom: 0%;
}